# General
**/.DS_Store

# R and Rmarkdown
.Rhistory
.RData
.Rproj.user/
.Renviron
*_cache
*_files

# Snakemake files
.snakemake/
.snakemake_timestamp

# Vim swap files
[._]*.sw[a-p]

# pixi environments
.pixi/*
!.pixi/config.toml

# claude
**/.claude

# hail logs
**/hail*.log

# CSI indexes from accessing BCF files
**/*.csi

# Snakemake workflow related files
logs/
data/

# Scratch data
scratch/
docs/superpowers
docs/notes
